html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.gradient-background {

    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #f0f0f0 62%, #cb3931 30%);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank-sheet {
    width: 800px;

    height: 700px;
    background-color: white;
    box-shadow: 0 0 10px #e0e0e0;

    position: relative;

    padding-right: 50px;

    overflow: visible;
}

.gray-rectangle {
    position: absolute;

    top: 20%;

    left: 30px;

    right: 0;

    height: 100px;

    background-color: #ccc;
    height: 300px;
}



.text-inside-blank {
    color: #cb3931;
    font-size: 14px;
    position: absolute;

    top: 20px;

    left: 30px;
    width: 300px;

}

.top-right-image {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

}


.top-right-image img {
    width: 300px;

    height: 250px;

}


.top-right-image {
    position: absolute;
    top: 0;
    right: 80px;

    padding: 0;
    right: 120px;

    z-index: 1;


}


.gray-rectangle {
    position: absolute;
    top: 20%;
    left: 30px;
    right: 0;
    height: 100px;

    background-color: #ccc;
    height: 300px;
    z-index: 0;

}

.text-inside-gray-rectangle {
    color: #000;
    font-size: 40px;
    position: absolute;
    top: 120px;

    left: 50px;
    font-weight: bold;
}

.text-inside-gray-rectangle2 {
    color: #cb3931;
    font-size: 16px;
    position: absolute;
    top: 240px;
    left: 50px;
}

.phone-number {
    color: #cb3931;
    font-size: 16px;
    position: absolute;
    top: 140px;
    left: 460px;
}


.social-icons {
    position: absolute;
    bottom: 30px;
    right: 70px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 20px;
    height: auto;
}

.social-icons a {
    display: inline-block;
}

.text-under-blank {


    position: absolute;
    top: 500px;
    left: 30px;
    width: 200px;
}

.right-under-blank {


    position: absolute;
    top: 500px;
    right: 30px;

}

.experience-text {
    color: #cb3931;
    font-size: 20px;
    font-weight: bold;
}

.year2 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.year2 {
    color: #000;
    font-size: 16px;
}

.first-text {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.second-text {
    color: #cb3931;
    font-size: 18px;
    font-style: italic;
}

@media screen and (min-device-width: 300px) and (max-device-width: 389px) {
    .gradient-background {
        background-size: 100% 100%;
        background: linear-gradient(180deg, #f0f0f0 53%, #cb3931 26%);
    }

    .blank-sheet {
        width: 80%;
        height: 90%;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top-right-image {
        order: 2;
        top: 0px;
        left: 220PX;

    }

    .top-right-image img {
        width: 110PX;
        height: auto;
        height: 200PX;

    }

    .gray-rectangle {
        height: 200px;
        top: 160px;

    }

    .text-inside-blank {
        font-size: 11px;
        text-align: center;
        top: 40PX;
        width: 180px;
    }

    .text-inside-gray-rectangle {

        top: 60px;
        font-size: 28px;


    }

    .phone-number {
        font-size: 10px;
        text-align: left;
        left: 150PX;
        top: 60px;

    }

    .social-icons {
        right: 20px;
        top: 140px;

    }

    .text-inside-gray-rectangle2 {
        top: 140px;

    }

    .text-under-blank {
        top: 380px;
        left: 30PX;
        font-size: 12px;
        width: 120px;
    }

    .right-under-blank {
        top: 380px;
        left: 200px;
        font-size: 12px;
        width: 120px;
    }

    .experience-text {
        font-size: 14px;

    }

    .year2 {
        font-size: 14px;
    }

    .first-text,
    .second-text {
        font-size: 14px;
    }

    .social-icons img {
        width: 10px;
        height: auto;
    }

    .social-icons {
        right: 15px;


    }

}

@media screen and (min-device-width: 390px) and (max-device-width: 399px) {
    .text-inside-gray-rectangle {

        top: 90px;

    }

    .gradient-background {

        background: linear-gradient(180deg, #f0f0f0 64%, #cb3931 26%);

    }

    .text-inside-gray-rectangle2 {
        top: 200px;

    }


    .blank-sheet {
        width: 80%;
        height: 80%;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        right: 20px;
        top: 200px;

    }

    .top-right-image {
        order: 2;
        top: 0px;
        left: 235PX;

    }

    .top-right-image img {
        width: 120PX;
        height: auto;
        height: 200PX;

    }

    .gray-rectangle {
        order: 1;
        margin-top: 20px;

    }

    .text-inside-blank {
        font-size: 11px;
        text-align: center;
        top: 40PX;
        width: 200px;
    }

    .phone-number {
        font-size: 10px;
        text-align: left;
        left: 200PX;
        top: 90px;

    }

    .text-under-blank {
        top: 500px;
        left: 30PX;
        font-size: 12px;
    }

    .right-under-blank {
        top: 500px;
        left: 220px;
        font-size: 12px;
        width: 140px;
    }

    .experience-text {
        font-size: 10px;

    }

    .year2 {
        font-size: 9px;
    }

    .first-text,
    .second-text {
        font-size: 8px;
    }

    .social-icons img {
        width: 10px;

    }
}

@media screen and (min-device-width: 700px) and (max-device-width: 850px) {
    .blank-sheet {
        width: 80%;
        height: 90%;

    }

    .gradient-background {

        background: linear-gradient(180deg, #f0f0f0 57%, #cb3931 26%);

    }

    .top-right-image {
        order: 2;
        top: 0px;
        left: 340PX;

    }

    .text-inside-blank {
        font-size: 15px;
        top: 40PX;
        width: 300px;
    }

    .text-under-blank {
        top: 550px;
        left: 30PX;
        font-size: 15px;
        width: 300px;

    }

    .right-under-blank {
        top: 550px;
        left: 400px;
        font-size: 15px;
        width: 300px;
    }

    .top-right-image img {
        width: 300PX;
        height: auto;
        height: 280PX;

    }

    .social-icons {
        right: 20px;


    }

    .phone-number {
        font-size: 18px;
        text-align: left;
        left: 290PX;
        top: 110px;

    }

    .text-inside-gray-rectangle {

        font-size: 66px;
        top: 80px;

    }

    .text-inside-gray-rectangle2 {

        font-size: 30px;


    }

    .gray-rectangle {
        height: 400px;

    }

    .text-under-blank {
        top: 670px;
        left: 30PX;
        font-size: 20px;
    }

    .right-under-blank {
        top: 670px;
        left: 360px;
        font-size: 20px;
        width: 260px;
    }


}


@media screen and (min-device-width: 400px) and (max-device-width: 450px) {
    .text-inside-gray-rectangle {

        top: 90px;

    }

    .text-inside-gray-rectangle2 {
        top: 200px;

    }


    .blank-sheet {
        width: 80%;
        height: 80%;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-icons {
        right: 20px;
        top: 200px;

    }

    .top-right-image {
        order: 2;
        top: 0px;
        left: 250PX;

    }

    .top-right-image img {
        width: 120PX;
        height: auto;
        height: 200PX;

    }

    .gray-rectangle {
        order: 1;
        margin-top: 20px;

    }

    .text-inside-blank {
        font-size: 11px;
        text-align: center;
        top: 40PX;
        width: 200px;
    }

    .phone-number {
        font-size: 10px;
        text-align: left;
        left: 220PX;
        top: 90px;

    }

    .text-under-blank {
        top: 500px;
        left: 30PX;
        font-size: 12px;
    }

    .right-under-blank {
        top: 500px;
        left: 220px;
        font-size: 12px;
        width: 160px;
    }

    .experience-text {
        font-size: 10px;

    }

    .year2 {
        font-size: 9px;
    }

    .first-text,
    .second-text {
        font-size: 8px;
    }

    .social-icons img {
        width: 10px;

    }
}